/* main style */
@import "reset.css";
@import "variable.css";

/* component style */
@import "components/nav-bar.css";
@import "components/footer-bar.css";
@import "components/main-content.css";
@import "components/side-menu.css";

/* screen style */
@import "screen/home.css";
@import "screen/can.css";
@import "screen/paper.css";

/* Universal */
* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
}
