:root {
    --font-size-big: 22px;
    --title-font-bold: font-weight: 700;

    /* Color */
    --color-grey: #F2F2F2;
    --color-red: #FE2E2E;
    --color-pink: #F781F3;
    --color-black: rgb(0,0,0);

    /* Font size */
    --font-large: 48px;
    --font-medium: 20px;
    --font-regular: 14px;
    --font-small: 12px;
    --font-micro: 10px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 400;
    --weight-regular: 300;
}