.main-content-paper__title {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-bold);
  margin-bottom: 30px;
}

.main-content-paper__list {
  margin-left: 20px;
  font-size: 10px;
  letter-spacing: 0.4px;
  line-height: 20px;
}

.main-content-paper__img {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
}

.main-content-paper__img img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.main-content-paperPak__title {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-bold);
  margin-bottom: 30px;
}

.main-content-paperPak__list {
  font-size: 10px;
  letter-spacing: 0.4px;
  line-height: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.main-content-paperPak__img img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.main-content-paperPak__img {
  margin-bottom: 10px;
}
