/* MINTO: 화면의 footer의 style을 결정하는 메인 코드 210303 */
.footer__bar {
  background-color: #f9f8fd;
  color: black;
  position: relative;

  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MINTO: 화면의 유무를 결정해준다. 210303 */
.invisible {
  display: none;
}
